<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" /> -->
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href=https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Caveat:400,700|Indie+Flower|Kaushan+Script|Lobster|Permanent+Marker|Shadows+Into+Light|Trade+Winds" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar mynavbar">
        <span class="navbar-brand mb-0 h1"><h1><%= title %></h1></span>
        <a href="/">Home</a>
        <a href="/users">Profile</a>
        <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        <% } %>
      </nav>
    </header>
    